.green {
    color: darkcyan;
}

.large_font {
    font-size: 42px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: cornflowerblue;
}

h2 {
    color: firebrick;
}

h3 {
color: blueviolet;
}

h4 {

}

ul {
    font-family: 'Courier New', Courier, monospace;
}

footer {

}